{{- $t := index .themes .theme -}}
font=JetBrains Mono NF 11
background-color={{ $t.bg }}ee
text-color={{ $t.fg }}
border-color={{ $t.accent }}
border-size=1
border-radius=0
padding=10
margin=8
width=380
default-timeout=6000
layer=overlay

[urgency=critical]
border-color={{ $t.accent2 }}
default-timeout=0
